@tailwind base;
@tailwind components;
@tailwind utilities;

body,
button {
  font-family: "Nunito Sans", sans-serif;
}

h1,
h2 {
  font-weight: 800;
}
h4,
span {
  font-weight: 600;
}
h3 {
  font-weight: 400;
}
p {
  font-weight: 300;
}
